{% extends 'myapp/main.html' %}
{% block css %}
.box-element{
box-shadow:hsl(0, 0%, 80%) 0 0 16px;
background-color: #fff;
border-radius: 4px;
padding: 10px;
}
.form-field{
width:250px;
display: inline-block;
padding: 5px;
}
.cart-row{
display: flex;
align-items: flex-stretch;
padding-bottom: 10px;
margin-bottom: 10px;
border-bottom: 1px solid #ececec;

}
.btn{
border-radius: 0;
}
.row-image{
width: 100px;
}
{% endblock css %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form action='processOrder' method='POST' target="_blank">
                    {% csrf_token %}
                    <div id="shipping-info">
                        <div class="form-field">
                            <input required class="form-control" type="text" name="name" placeholder="Name..">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="email" name="email" placeholder="Email..">
                        </div>
                        <hr>
                        <p>Shipping Information:</p>
                        <hr>
                        <div class="form-field">
                            <input class="form-control" type="text" name="address" placeholder="Address..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="city" placeholder="City..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="state" placeholder="State..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                        </div>
                    </div>
                    <div class="box-element " id="payment-info">
                        <img class="mx-4" src="{% static 'images/paytm.png'%}" style="height:2em; width:5em;">
                        <button class="btn-primary rounded">Make Payment</button>
                    </div>
                </form>
            </div>

        </div>

        <div class="col-lg-6">

            <div class="box-element">
                <a class="btn btn-outline-dark my-3" href="{% url 'cart' %}"
                    style="background-color:rgb(255, 188, 4);"><svg width="2em" height="2em" viewBox="0 0 16 16"
                        class="bi bi-arrow-left-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.646 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z" />
                    </svg>Back to Cart</a>
                <hr>
                <h3>Order Summary</h3>
                <hr>
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.product.ImageURL}}"></div>
                    <div style="flex:2">
                        <p>{{item.product.name}}</p>
                    </div>
                    <div style="flex:1">
                        <p>${{item.product.price}}</p>
                    </div>
                    <div style="flex:1">
                        <p>{{item.quantity}}</p>
                    </div>
                </div>
                {% endfor %}
                <h5>Items: {{order.grand_total}}</h5>
                <h5>Total: ${{order.get_cart_items|floatformat:2}}</h5>
            </div>

        </div>
    </div>
</div>
{% endblock content %}